    <nav class="navbar navbar-default">
      <div class="container-fluid">    
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar">
            <i class="fas fa-paw"></i>
          </button>
          <a href="#">Dios Generoso</a> 
        </div>
      </div>
    </nav>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Cielo</a></li>
        <li><a href="#">Infierno</a></li>
        <li><a href="#">Limbo</a></li>
      </ul>
    </div>
