
  <div class="jumbotron">
    <div class="container">
        <i class="fab fa-studiovinari fa-10x"></i>
        <h1>Prueba del pulento</h1>
        <h4>Pulentamente</h4>
    </div>  
  </div>

  
<div class="container">
	<div class="col-md-4 col-sm-6 col-xs-12">
		<i class="fab fa-accessible-icon fa-3x centrar circulito"></i>
		<h3 class="italic">¡Que dice el pulento!</h3>
		<p>l contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. Richa</p>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<i class="fas fa-american-sign-language-interpreting fa-3x centrar"></i>
		<h3 class="ita">Cuando lo dijo?</h3>
		<p>ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a utilizar un pasaje de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio del texto. Todos los generadores de Lor</p>
		<a class="btn btn-success btn-lg centrar" href="#">Al Cielo</a>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<i class="fab fa-cloudversify fa-3x centrar"></i>
		<h3 class="italic"> loren ipsus fail </h3>
		<p>ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a utilizar un pasaje de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio del texto. Todos los generadores de Lor</p>
	</div>
</div>	


