// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.purple {
	
	background-color: rebeccapurple;

}

.italic {
	
	font-style: italic;
}


.centrar {

	display: block;
	margin: auto;
}

.circulito {
	
	display: block;
	background-color: tomato;
	border-radius: 50%;
	width: 400px;
}