<div class="container">
	
	<div class="row">
		<div class="jumbotron">
			<h1>Fakestagram</h1>
			<p>Bienvenido a tu red de fotos</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-md">	
			<h2>Acá puedes ver las fotos</h2>
		</div>
	</div>
	<div class="row">	
		<div class="col-md-4">
			<div class="page-header">
				<h5>Nombre de foto</h5>
			</div>
			<img src="#" class="img-rounded">
		</div>	
	</div>	
</div>
